*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

body{
    font-family: 'Montserrat', sans-serif;

}

nav{
    position: absolute;
    height: 80px;
    width: 100%;
    background-color: white;

}

label.logo{
    color: black;
    font-size: 20px;
    line-height: 100px;
    padding: 0 80px;
    font-weight: 800;
    transition: .2s ease;
    cursor: pointer;

}

nav ul{
    float: right;
    margin-right: 80px;
}

nav ul li{
    display: inline-block;
    line-height: 100px;
}

nav ul li a{
    color: black;
    font-size: 12px;
    padding: 7px 13px;

}

a.active, a:hover { 
    background: white;
    transition: .5s;
}

.checkbtn{
    line-height: 80px;
    font-size: 30px;
    float: right;
    cursor: pointer;
    margin-right: 40px;
    display: none;

}

.checkbtn i{
    color: black;
    padding: 5px;
    transition: .5s ease;
    border-radius: 10px;
}

.checkbtn i:hover{
    background-color: white;
}

#check{
    display: none;

}

@media (max-width:952px){
    label.logo{
        font-size: 25px;
        /* padding-left: 50px; */
    }

    nav ul li a{
        font-size: 14px;
    }

}

@media (max-width:952px){
    .checkbtn{
        display: block;
        font-size: 40px;
    }

    .checkbtn i{
        line-height: 100px;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: white;
        top: 100px;
        left: -100%;
        padding-top: 10px;
        text-align: center;
        transition: .5s ease;
    }

    nav ul li{
        display: block;
        margin: 30px 0;
        line-height: 50px;
    }

    nav ul li a{
        font-size: 20px;
    }

    a.active, a:hover{
        background: none;
        color: black;

    }

    #check:checked ~ ul{
        left: 0;
    }
    nav{
        height: 150px;
    }

    label.logo{
        display: block; 
        font-size: 15px;
        text-align: center;
    }

    

}

nav img{
    position: relative;
    top: 10px;
    left: 75px;
    line-height: 10px;
    width: 70px;
    cursor: pointer;
}

@media (max-width:858px){
    nav img{
        width: 150px; 
        display: block;
        margin-left: auto;
        margin-right: auto;
        left: 40px;
    }
    label.logo{
        font-size: 30px;
    }
    
}


@media (max-width:712px){
    label.logo{
        font-size: 25px;
    }
}

@media (max-width:626px){
    label.logo{
        font-size: 20px;
    }
}

@media (max-width:536px){
    label.logo{
        font-size: 15px;
    }
}

@media (max-width:444px){
    label.logo{
        font-size: 10px;
    }
}

.wrapper{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}
.row{
    width: 100%;
    padding: 50px 50px;   
}

.image-section{
    width: 30%;
    float: left;
}

.image-section img{
    width: 150%;
    height: auto;
}

.content{
    width: 30%;
    float: right;
    margin-right: 200px;
}

.content h1{
    font-size: 60px;
    letter-spacing: 3.5px;
    margin-top: 60px;
    color: rgb(107,96,97);
}

.content h2{
    font-size: 20px;
    color: black;
    margin-top: 60px;
    /* opacity: 0.7; */
}

.content p{
    font-size: 17px;
    margin-top: 50px;
    line-height: 1.5;
    /* opacity: 0.7; */
}

.content h3{
    font-size: 15px;
    color: rgb(35,17,55);
    margin-top: 80px;
}

@media (max-width:768px){
    .image-section{
        width: 65%;
        float: none;
    }
    .content{
        width: 100%;
        float: none;
        margin-left: 0px;
        text-align: center;
    }
    .content h1{
        font-size: 40px;
        letter-spacing: 2px;
        margin-top: 30px;
    }
    
    .content h2{
        font-size: 30px;
    }
    
    .content p{
        font-size: 18px;
    
    }
}

@media (max-width:468px){
    .image-section{
        width: 70%;
        float: none;
    }
    .content{
        width: 100%;
        float: none;
        margin-left: 0px;
        text-align: center;
    }
    .content h1{
        font-size: 20px;
        letter-spacing: 2px;
        margin-top: 30px;
    }
    
    .content h2{
        font-size: 15px;
    }
    
    .content p{
        font-size: 15px;
    
    }
}

@media (max-width:957px){
    .image-section{
        width: 70%;
        float: none;
    }
    .content{
        width: 100%;
        float: none;
        margin-left: 0px;
        text-align: center;
    }
    .content h1{
        font-size: 30px;
        letter-spacing: 2px;
        margin-top: 30px;
    }
    
    .content h2{
        font-size: 20px;
    }
    
    .content p{
        font-size: 15px;
    
    }
}

@media (max-width:1468px){
    .image-section{
        width: 65%;
        float: none;
    }
    .content{
        width: 100%;
        float: none;
        margin-left: 0px;
        text-align: center;
    }
    .content h1{
        font-size: 40px;
        letter-spacing: 2px;
        margin-top: 30px;
    }
    
    .content h2{
        font-size: 30px;
    }
    
    .content p{
        font-size: 18px;
    
    }
}


@media (max-width:268px){
    .image-section{
        width: 70%;
        float: none;
    }
    .content{
        width: 100%;
        float: none;
        margin-left: 0px;
        text-align: center;
    }
    .content h1{
        font-size: 10px;
        letter-spacing: 2px;
        margin-top: 30px;
    }
    
    .content h2{
        font-size: 10px;
    }
    
    .content p{
        font-size: 10px;
    
    }
}




.social-menu{
    text-align: center;
    color: black;
}

.social-menu a{
    font-size: 24px;
    color: black;
}


.cr{
    margin-top: 40px;
    text-align: center;
    margin-bottom: 40px;
    font-size: 13px;
    color: rgb(36, 36, 36);
}


.abtme{
    text-align: center;
     margin-top: 100px;
    color: rgb(107,96,97);
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.abtme1{
    text-align: center;
    margin-bottom: 30px;

}

.abtme2{
    text-align: center;
    padding: 0 500px;
    line-height: 1.875em;
    font-size: 15px;
    letter-spacing: -0.5px;
} 

.abtme3{
    text-align: center;
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 15px;
}

/* .container2 {
    width: 60%;
    text-align: center;
  }  */
  

  @media (max-width:1300px){
    .abtme2{
        padding: 0 200px;
        font-size: 20px;
    }

    .abtme{
        margin-top: 50px;
    }

    .abtme1{
        margin-bottom: 20px;
    }
  }

  @media (max-width:953px){
    .abtme{
        margin-top: 100px;
    }
  }

  @media (max-width:859px){
    .abtme{
        margin-top: 150px;
        font-size: 2rem;
    }
    .abtme2{
        font-size: 20px;
    }

  }

  @media (max-width:700px){
    .abtme2{
        padding: 0 50px;
        font-size: 17px;
    }
  }

  @media(max-width:400px){
    .abtme2{
        padding: 0 20px;
    }
  }
